label {
    display: block;
}

body {
    background-image: url(/img/watercolor.png);
}

.jumbotron {
    padding: 30px;
    margin: 0;
   background-color : #ffe8e8;
}

#submit {
    display: block;
}

.navbar {
   background-color : #ffb4b4;
}

.fa {
    color: white;
}

.link {
    color: white
}

footer {
    margin: 0;
    padding: 10px;
    background-color: #ff9292;
}

#springChic {
    border-bottom: 1px solid;
    border-color: #ff9292;
}

#beachBabe {
    border-bottom: 1px solid;
    border-color: #ff9292;
}

#warmCozy {
    border-bottom: 1px solid;
    border-color: #ff9292;
}

#winterWonderland {
    border-bottom: 1px solid;
    border-color: #ff9292;
}

.carousel {
    border: solid #ffb4b4
}