label {
    display: block;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

body {
    background-image: url(/img/watercolor.png);
}

.jumbotron {
    padding: 30px;
    margin: 0;
   background-color : #ffe8e8;
}

#submit {
    display: block;
}

.navbar {
   background-color : #ffb4b4;
}

.fa {
    color: white;
}

.link {
    color: white
}

footer {
    margin: 0;
    padding: 10px;
    background-color: #ff9292;
}

#springChic {
    border-bottom: 1px solid;
    border-color: #ff9292;
}

#beachBabe {
    border-bottom: 1px solid;
    border-color: #ff9292;
}

#warmCozy {
    border-bottom: 1px solid;
    border-color: #ff9292;
}

#winterWonderland {
    border-bottom: 1px solid;
    border-color: #ff9292;
}

.carousel {
    border: solid #ffb4b4
}

p {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

li {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 72px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 40px;
}

h5 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 24px;
}

h6 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 30px;
}