body {
    background-color: #ffffff;
}

p {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

li {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 40px;
}

h4 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 35px;
}

h5 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 24px;
}

h6 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 30px;
}

.jumbotron {
    padding: 30px;
    margin: 0;
    background-color : #ffffff;
}

.navbar {
    background-color : #ffffff;
 }

.carousel {
    border: solid #ffffff
}

label {
    display: block;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.fa {
    color: black;
}

/*--- Fixed Background Image --*/
figure {
    background-image: url(/img/landscape.jpg);
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#firstSection {
    background-image: url(/img/Summer/food.jpg);
    min-height: 800px;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    
}

#textFirstSection {
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.card-title {
    color: white;
}

.card-img-top {
    opacity: 0.75;
}

footer {
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
}

.link {
    color: black
}

#springChic {
    border-bottom: 1px solid;
    border-color: #ffffff;
}

#beachBabe {
    border-bottom: 1px solid;
    border-color: #ffffff;
}

#warmCozy {
    border-bottom: 1px solid;
    border-color: #ffffff;
}

#winterWonderland {
    border-bottom: 1px solid;
    border-color: #ffffff;
}

#submit {
    display: block;
}